<div class="header">
  <div class ="container"> 
    <div class="row">
      <div class="col-xs-8"> 
        <ul class="menu"> 
          <li><a href="#">Welcome</a></li>
           <li><a href="#">Portfolio</a></li> 
          <li><a href="#">Blog</a></li> 
          <li><a href="#">About</a></li> 
          <li><a href="#">Contact</a></li> 
        </ul> 
      </div> 
      <div class="col-xs-4"> 
        <h3 class="re-h3">Ngoc Ty</h3> 
      </div> 
    </div> 
  </div> 
</div>
  <div class ="home">
    	<div class = "jum">
        <div class="container"> 
          <div class="chao">
            <h1>Hello. My name is <span class="light">Ngoc Ty</span> and I have creative ideas and build websites</h1> 
            <a class="btn" href="#">View my Work</a> 
           </div>
        </div>
    </div>
  </div>

<div class="footer"> 
  <div class="container"> 
    <ul class="social_media"> 
      <li><a class="github" href="#">.</a></li> 
      <li><a class="linkedin" href="#">.</a></li> 
      <li><a class="twitter" href="#">.</a></li> 
    </ul> 
    <div class="clear">
      <div class = "col-xs-12 text-right">
    <p>© 2015 Ngoc Ty</p> </div> 
    </div>
  </div>
</div>
