<div class="container">
    <div class="row">
        <div class="col-xd-12">
            <h1 class="text-center login-title"></h1>
            <div class="account-wall">
         				<h2>Login</h2>
                <form class="form-signin">
                <input type="text" class="form-control" id="email" placeholder="Email" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="check();">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>