<div class="main">
    <div class="containernnnn">
        <div class="row">
            <div class="col-md-6"> 
              <div class="dropbox">
              <img alt="Me" src="https://www.dropbox.com/home?preview=minion.jpg"> 
              </div>
          </div>
            <div class="col-md-6">
              <div class = "text">
                <h3>Hello. My name is <span class="highlight2">Ngoc Ty</span></h3>
                <p>I was born and grow up in Ninh thuan,land of sun and wind.</p> 
              	<p>Since childhood i have love computer and i have come to the information technology sector.</p>
                <p>And in 2013, i had to learn in technological colleges Thu Duc to continue my dream - programmer.</p>
              </div>
            </div>
        </div>
    </div>
</div>