<div class="main contact">
    <div class="container">
      <div class = "ty">
        <h2>Contact me</h2>
        <div class = "clear"></div>
        <div class="row">
            <div class="col-md-2"> <a class="linkedin" href="#">.</a> </div>
            <div class="col-md-2"> <a class="github" href="#">.</a> </div>
            <div class="col-md-2"> <a class="twitter" href="#">.</a> </div>
            <div class="col-md-2"> <a class="facebook" href="#">.</a> </div>
            <div class="col-md-2"> <a class="gplus" href="#">.</a> </div>
            <div class="col-md-2"> <a class="instagram" href="#">.</a> </div>
        </div>
      </div>
    </div>
</div>