.row
{
	margin-top : 50px;
  margin-bottom : 50px;
}
.dropbox img
{
		display: block;
    max-width: 100%;
    height: auto;
    text-decoration : none;
}
.containernnnn
{
margin-left : 15%;
margin-right : 15%;
}
.text h3
{
font-weight : bold;
}
.highlight2
{
background-color : #BEBEBE;
padding : 3px;
}