.linkedin {
    background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/linkedin-be22eb82414f9f637debbe2d64c301cb.svg");
    background-position: center center;
    display : inline-block;
}
.github {
    background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/github-edc899c60c7b3afd0c458e648197f578.svg");
    background-position: center center;
}

.twitter {
    background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/twitter-8c095eaee58362a46d56e3f07b50b23b.svg");
    background-position:center center;
    
}
.facebook {
    background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/facebook-70848fad6bf158b9a52e47d9bc956b8a.svg");
    background-position: center center;
}
.gplus {
    background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/gplus-b3a33145641e08e048cd10ed0ece59ce.svg");
    background-position: center center
}
.instagram {
    background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/instagram-057a090ac0e0184c68efc07e412eec3b.svg");
    background-position: center center;
}
.contact .col-md-2 a {
    display: block;
    height: 80px;
    margin: 0 auto 40px;
    text-indent: -9999px;
    width: 80px;
}
.ty
{
 margin-left : 10%;
 margin-right : 10%;
}
.ty h2
{
float : right;
}

